In [1]:
import polars as pl

In [4]:
df = pl.read_csv("data/titanic.csv")
df.head(3)

shape: (3, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [6]:
df[0]

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---  ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64  ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 7.25 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆           ┆      ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────┴───────┴──────────┘

In [ ]:
(
    df
    .filter(
        pl.col("Pclass") == 1 # filter condition
    )
    .select("PassengerId", "Pclass")
    .head(3)
)

shape: (3, 2)
┌─────────────┬────────┐
│ PassengerId ┆ Pclass │
│ ---         ┆ ---    │
│ i64         ┆ i64    │
╞═════════════╪════════╡
│ 2           ┆ 1      │
│ 4           ┆ 1      │
│ 7           ┆ 1      │
└─────────────┴────────┘

In [8]:
(
    df.filter(
        pl.col("Parch").gt(pl.col("SibSp"))
    )
    .select("PassengerId", "Parch", "SibSp")
    .head(3)
)

shape: (3, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 9           ┆ 2     ┆ 0     │
│ 14          ┆ 5     ┆ 1     │
│ 26          ┆ 5     ┆ 1     │
└─────────────┴───────┴───────┘

In [ ]:
(
    df.filter(
        Parch = 3, # only work for = operator
    )
    .select("PassengerId", "Parch", "SibSp")
    .head(3)
)

shape: (3, 3)
┌─────────────┬───────┬───────┐
│ PassengerId ┆ Parch ┆ SibSp │
│ ---         ┆ ---   ┆ ---   │
│ i64         ┆ i64   ┆ i64   │
╞═════════════╪═══════╪═══════╡
│ 87          ┆ 3     ┆ 1     │
│ 438         ┆ 3     ┆ 2     │
│ 737         ┆ 3     ┆ 1     │
└─────────────┴───────┴───────┘

In [11]:
is_first_class = [True if el == 1 else False for el in df["Pclass"]]
(
    df.filter(
        is_first_class
    )
    .head(1)
)

shape: (1, 12)
┌─────────────┬──────────┬────────┬────────────────────┬───┬──────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Ticket   ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---      ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str      ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪══════════╪═════════╪═══════╪══════════╡
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ PC 17599 ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆          ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴──────────┴─────────┴───────┴──────────┘

In [ ]:
(
    df.with_columns(
        less_30_bool = pl.col("Age") < 30
    )
    .filter(
        pl.col("less_30_bool") # ~ for negation
    )
    .select("Pclass", "Name", "Age")
    .head(1)
)

shape: (1, 3)
┌────────┬─────────────────────────┬──────┐
│ Pclass ┆ Name                    ┆ Age  │
│ ---    ┆ ---                     ┆ ---  │
│ i64    ┆ str                     ┆ f64  │
╞════════╪═════════════════════════╪══════╡
│ 3      ┆ Braund, Mr. Owen Harris ┆ 22.0 │
└────────┴─────────────────────────┴──────┘

In [13]:
df_pclass_dict = (
    df
    .partition_by("Pclass", as_dict=True)
)

In [14]:
df_pclass_dict.keys()

dict_keys([(3,), (1,), (2,)])